/* Boxy ---*/
.boxy-wrapper{position:absolute}
.boxy-wrapper.fixed{position:fixed}
.boxy-wrapper a{outline:0}
.boxy-modal-blackout{position:absolute;background-color:#000;left:0;top:0}
.boxy-wrapper{empty-cells:show}
.boxy-wrapper .title-bar{display:none}
.boxy-wrapper .title-bar.dragging{cursor:move}
.boxy-inner{padding:0}
.boxy-content{padding:0}

/* Global ---*/
.popup{background:url(../img/boxy/bg_all.png) repeat;margin:0;border:4px solid rgba(255, 255, 255, 0.24);-moz-background-clip:border;-webkit-background-clip:border;background-clip:border-box;-moz-background-clip:padding;-webkit-background-clip:padding;background-clip:padding-box;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px}
.popup .title-popup{position:relative;background:url(../img/boxy/bg_shadow.png) left bottom repeat-x;height:32px;padding:8px 0 0 10px;color:#fff;font-size:15px;font-weight:bold;text-transform:uppercase;border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0}
.popup .title-popup .btn-close{position:absolute;top:7px;right:7px;cursor:pointer}
.popup .title-popup-product{position:relative;background:url(../img/main_sprite_popup.png) 0 0 repeat-x;height:42px;padding:0 0 0 0;color:#333;font-size:14px;font-weight:bold;line-height:42px}
.popup .content-popup{margin:0}
.popup .content-popup .warning{background-color:#ffd0d0;margin:10px 20px 5px 20px;padding:6px 10px;color:#d00;font-size:12px;border:1px solid #d00}
.popup .btn-default{width:80px;margin:5px auto 12px}
.popup .btn-default .btn-cancel{background-color:transparent;background-image:-moz-linear-gradient(center top,#fefefe,#f8f8f8);background-image:linear-gradient(center top,#fefefe,#f8f8f8);background-image:-webkit-linear-gradient(center top,#fefefe,#f8f8f8);margin-right:0;padding:3px 7px;color:#666;font-size:12px;font-weight:normal;border:1px solid #c2c2c2;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:1px 1px 1px #eee;-moz-box-shadow:0 1px 2px #aaa;-webkit-box-shadow:0 1px 2px #aaa}
.popup .btn-default .btn-cancel:hover{border:1px solid #ccc;box-shadow:1px 0 3px #ddd;-moz-box-shadow:1px 0 3px #ddd;-webkit-box-shadow:1px 0 3px #ddd}
.popup .btn-default .btn-accept,.popup .btn-default .btn-refer{background:#1482e0;margin-right:5px;padding:3px 7px;color:#fff;font-size:12px;font-weight:bold;border:1px solid #1482e0;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:0 1px 0 #cfcfcf;-moz-box-shadow:0 1px 0 #cfcfcf;-webkit-box-shadow:0 1px 0 #cfcfcf}
.popup .btn-default .btn-refer{color:#ff0 !important}
.ie7 .popup .btn-default .btn-cancel,.ie7 .popup .btn-default .btn-accept,.ie7 .popup .btn-default .btn-refer{padding:3px 0}
.popup .btn-default .btn-accept:hover,.popup .btn-default .btn-refer:hover{background:#1179d6;;box-shadow:0 1px 0 #aaa;-moz-box-shadow:0 1px 0 #aaa;-webkit-box-shadow:0 1px 0 #aaa}
.popup .footer-popup{padding:5px 0}
.popup .footer-popup .btn-default{margin:0 auto}
.popup .btn-double{width:140px}
.popup .complain-row-btn{width:160px}
.popup .vb-btn{width:278px}
.ie7 .popup .vb-btn{width:302px}
.popup .note-imp{background-color:#fffad2;margin:10px;padding:6px 10px;border:1px solid #ffdc9f;color:#f30;font-size:12px;font-weight:bold;text-align:center}
.popup input{padding:2px 3px 3px 3px;border:1px solid #cdd1db}

/* Bar-notice */
.popup .bar-notice{padding:15px 20px;color:#444;font-size:12px;font-weight:normal;line-height:16px}
.popup .notice-warning{color:#333}
.popup .notice-warning span.ico{display:block;float:left;background:url(../img/icon_mini.png) 0 -1338px no-repeat;width:30px;height:30px;margin:-6px 0 0 8px}
.popup .notice-sucess{color:#390}
.popup .notice-sucess span.ico{display:block;float:left;background:url(../img/icon_mini.png) 0 -1378px no-repeat;width:30px;height:30px;margin:-2px 0 0 8px}
.popup .notice-error{color:#d00}
.popup .notice-error span.ico{display:block;float:left;background:url(../img/icon_mini.png) 0 -1412px no-repeat;width:30px;height:30px;margin:-2px 0 0 8px}
.popup .notice-confirm{color:#333}
.popup .notice-confirm span.ico{display:block;float:left;background:url(../img/icon_mini.png) 0 -1446px no-repeat;width:30px;height:30px;margin:-2px 0 0 8px}

/* Msg */
.popup .msg-form{margin:0;padding:5px 0}
.popup .msg-form p{clear:both;margin-bottom:3px}
.popup .msg-form a{color:#06c;font-size:12px;font-weight:normal}
.popup .msg-form a:hover{color:#f60;text-decoration:underline}
.popup .msg-form .row-info{position:relative}
.popup .msg-form .row-info .txt{color:#222;font-size:12px;line-height:26px;font-weight:bold}
.popup .msg-form .row-info label{display:block;float:left;width:120px;height:26px;margin-right:12px;color:#333;font-size:12px;font-weight:normal;line-height:26px;text-align:right}
.popup .msg-form .input-msg{float:left;background:#fff;width:280px;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #cdd1db}
.popup .msg-form .ctn-content{float:left;background:#fff;width:280px;height:100px;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #cdd1db}
.popup .msg-form .disabled-input{background:#f9f9f9;color:#555;font-size:12px;border:1px solid #cfcfcf;-moz-box-shadow:inset 1px 1px 0 0 #fff;-webkit-box-shadow:inset 1px 1px 0 0 #fff;box-shadow:inset 1px 1px 0 0 #fff}
.popup .msg-form .notice-error{margin-left:130px;color:#d00000;font-size:12px}
.popup .msg-form .contact-title{margin:15px 25px 0;padding:10px 0 6px 106px;border-top:1px solid #cdd1db}
.popup .msg-form .email{float:left;width:100%}
.popup .msg-form .email .e-title{float:left;width:40px;line-height:22px;padding:0 10px 0 0}
.popup .msg-form .email input{width:250px}
.popup .msg-form .code input{float:left;width:60px}
.popup .msg-form .code img{float:left;padding:0 0 0 7px}
.popup .msg-form .code .refresh{background:url(../img/icon_mini.png) 0 -972px no-repeat;float:left;width:12px;height:12px;margin:5px 0 0 10px;text-indent:-9999px}

/* province */
.province{position:relative;background:#fff;float:left;width:330px;padding:0 0 14px 0;border:4px solid rgba(255, 255, 255, 0.24);-moz-background-clip:border;-webkit-background-clip:border;background-clip:border-box;-moz-background-clip:padding;-webkit-background-clip:padding;background-clip:padding-box;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px}
.province .title{background-image:linear-gradient(top,#0084f6 0%,#0a67b7 100%);background-image:-moz-linear-gradient(top,#0084f6 0%,#0a67b7 100%);background-image:-webkit-linear-gradient(top,#0084f6 0%,#0a67b7 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0084f6', endColorstr='#0a67b7');background-color:#0770cb;float:left;width:330px;height:38px;line-height:38px;color:#fff;font-size:15px;font-weight:bold;text-transform:uppercase;border-bottom:2px solid #eee;border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0}
.province .title .icon{background:url(../img/icon_mini.png) 0 -1279px no-repeat;float:left;width:15px;height:20px;margin:9px 8px 0 17px}
.province .arrow{position:absolute;z-index:99;top:38px;left:19px;background:url(../img/icon_mini.png) 0 -1309px no-repeat;float:left;width:12px;height:7px}
.province .content-pop{float:left;width:314px;padding:10px 8px 0 8px}
.province .content-pop ul,.province .content-pop li{float:left;width:100%}
.province .content-pop li{line-height:30px;border-bottom:1px solid #e5e5e5}
.province .content-pop li a{display:block;padding:0 0 0 5px;color:#333;font-size:14px;font-weight:bold}
.province .content-pop li a:hover{background-color:#f1f3f7;color:#f60}
.province .content-pop .other-province-btn{background-image:linear-gradient(top,#fff 0%,#efefef 100%);background-image:-moz-linear-gradient(top,#fff 0%,#efefef 100%);background-image:-webkit-linear-gradient(top,#fff 0%,#efefef 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#efefef');background-color:#f5f5f5;float:left;height:26px;line-height:26px;padding:0 10px;margin:14px 0 0 112px;color:#000;font-size:14px;font-weight:bold;border:1px solid #9e9e9e;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:0 1px 0 #cfcfcf;-moz-box-shadow:0 1px 0 #cfcfcf;-webkit-box-shadow:0 1px 0 #cfcfcf}
.province .content-pop .other-province-btn:hover{background-image:linear-gradient(top,#fff 0%,#dcdbdb 100%);background-image:-moz-linear-gradient(top,#fff 0%,#dcdbdb 100%);background-image:-webkit-linear-gradient(top,#fff 0%,#dcdbdb 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#dcdbdb');background-color:#e9e8e8;text-decoration:none}

/* complain */
.complain{float:left;width:410px;padding:10px 20px 0 20px}
.complain em.error{display:none;background:url(../img/icon_mini.png) 0 -992px no-repeat;float:left;width:100%;line-height:18px;padding:0 0 10px 16px;color:#f30;font-size:11px}
.complain .loading{display:none;background:url(../img/loading.gif) center top no-repeat;float:left;width:100%;height:32px;padding:0 0 20px 0}
.complain .title{float:left;width:100%;padding:0 0 15px 0;font-size:14px}
.complain .row-check{float:left;width:100%;padding:2px 0 6px 0}
.complain .row-check input{margin:0;padding:0}
.complain .row-check label{line-height:13px;padding:0 0 0 3px}
.complain .other-reason{float:left;width:100%}
.complain .other-reason .or-title{float:left;width:100%;padding:5px 0}
.complain .other-reason textarea{width:400px;height:50px;border:1px solid #cdd1db}
.complain .contact-title{float:left;width:100%;padding:10px 0 6px 0}
.complain .email{float:left;width:100%}
.complain .email .e-title{float:left;width:40px;line-height:22px;padding:0 10px 0 0}
.complain .email input{width:250px}
.complain .mobile{float:left;width:100%;padding:5px 0 0 0}
.complain .mobile .m-title{float:left;width:40px;line-height:22px;padding:0 10px 0 0}
.complain .mobile input{width:150px}
.complain .code{float:left;width:100%;padding:5px 0 20px 0}
.complain .code .c-title{float:left;line-height:22px;padding:0 10px 0 0}
.complain .code input{float:left;width:60px}
.complain .code img{float:left;padding:0 0 0 7px}
.complain .code .refresh{background:url(../img/icon_mini.png) 0 -972px no-repeat;float:left;width:12px;height:12px;margin:5px 0 0 10px;text-indent:-9999px}

/* vip-buying */
.popup .vip-buying{margin:0;padding:5px 0}
.popup .vip-buying .loading{display:none;background:url(../img/loading.gif) center top no-repeat;float:left;width:100%;height:32px;padding:0 0 20px 0}
.popup .vip-buying .pad10{padding-top:10px !important}
.popup .vip-buying .notice{background:#ffffdd;float:left;width:412px;line-height:18px;margin:10px 0 0 18px;padding:4px 0 3px 0;color:#eb0000;text-align:center;border:1px solid #ff8983}
.popup .vip-buying .info-details{background:#efefef;float:left;width:402px;line-height:16px;margin:10px 0 0 18px;padding:5px 0 3px 10px;border:1px solid #cdd1db}
.popup .vip-buying .info-details .price{color:#f30;font-weight:bold}
.popup .vip-buying p{clear:both;margin-bottom:3px}
.popup .vip-buying a{color:#06c;font-size:12px;font-weight:normal}
.popup .vip-buying a:hover{color:#f60;text-decoration:underline}
.popup .vip-buying .row-info{position:relative;padding:0 0 2px 0}
.popup .vip-buying .row-info .txt{color:#222;font-size:12px;line-height:26px;font-weight:bold}
.popup .vip-buying .row-info label{display:block;float:left;width:120px;height:22px;margin-right:12px;color:#333;font-size:12px;font-weight:normal;line-height:22px;text-align:right}
.popup .vip-buying .calendar .input-vb{background:url(../img/icon_mini.png) 98% -1187px no-repeat}
.popup .vip-buying .input-vb{float:left;background-color:#fff;width:150px;margin-right:4px;padding:3px 4px 2px 3px;color:#555;font-size:12px;border:1px solid #cdd1db}
.popup .vip-buying .ctn-content{float:left;background:#fff;width:280px;height:100px;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #cdd1db}
.popup .vip-buying .disabled-input{background:#f9f9f9;color:#555;font-size:12px;border:1px solid #cfcfcf;-moz-box-shadow:inset 1px 1px 0 0 #fff;-webkit-box-shadow:inset 1px 1px 0 0 #fff;box-shadow:inset 1px 1px 0 0 #fff}
.popup .vip-buying .note{padding:10px 25px 6px 131px;color:#f30}

/* Google map */
.popup .map-form{margin:0;padding:15px 10px}
.popup .map-form .row-map{background:#fff;width:776px;margin-bottom:5px;padding:2px;border:1px solid #c5c5c5;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee;box-shadow:inset 1px 1px 1px #eee;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
.popup .map-form .row-map .input-map{float:left;width:744px;padding:6px 4px;color:#555;font-size:14px;border:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
.popup .map-form .row-map .btn-map{float:left;background:url(../img/icon_mini.png) -5px -1506px no-repeat;width:17px;height:17px;margin-top:6px;border:0;text-indent:-9999px}
.popup .map-form .row-map .btn-map:hover{background-position:-5px -1523px}
.popup .map-form .row-find{float:left;margin-bottom:10px}
.popup .map-form .row-find .sfar{display:block;float:left;background:#f8f8f8 url(../img/icon_mini.png) 0 -1476px no-repeat;width:140px;margin-right:4px;padding:3px 4px;padding-left:20px;color:#555;font-size:12px;border:1px solid #c5c5c5;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee;box-shadow:inset 1px 1px 1px #eee;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
.popup .map-form .row-find .sfar select{background-color:#f8f8f8;width:140px;border:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
.popup .map-form .btn-find{background:#1482e0;margin-right:5px;padding:3px 10px;color:#fff;font-size:12px;font-weight:bold;border:1px solid #0273b1;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:1px 1px 1px #ccc;-moz-box-shadow:1px 1px 1px #ccc;-webkit-box-shadow:1px 1px 1px #ccc}
.popup .map-form .btn-find:hover{background:#1179d6;box-shadow:1px 1px 2px #aaa;-moz-box-shadow:1px 1px 1px #aaa;-webkit-box-shadow:1px 1px 1px #aaa}
.popup .distance{display:inline;float:left;margin-left:5px;color:#333;font-size:12px;line-height:30px}
.popup .distance span{color:#d00;font-size:12px;font-weight:bold}
.popup .ctn-map{width:780px;height:400px;border:1px solid #eee}

/* Auto Up */
.popup .auto-up{padding:10px 20px 10px}
.popup .auto-up .row-up{padding:6px}
.popup .auto-up .row-up .label-up{float:left;width:110px;margin-right:10px;padding-top:2px;color:#333;font-size:12px;font-weight:normal;text-align:right;cursor:default}
.popup .auto-up .row-up .timer-up{float:left;width:500px}
.popup .auto-up .row-up .timer-up-li{float:left;width:220px;margin:0 20px 0 0;padding:0 0 5px 0;color:#333;font-size:12px}
.popup .auto-up .row-up .timer-up-li strong{display:inline-block;width:45px}
.popup .auto-up .row-up .date-up{margin-right:5px;color:#36c;font-size:12px;line-height:18px}
.popup .auto-up .row-up .date-up .input-date-up{margin-right:3px}
.popup .auto-up .row-up .txt{color:#c00;font-size:12px;line-height:18px;font-weight:bold}
.popup .auto-up .row-up .note-up{color:#888;font-size:12px;line-height:18px;font-weight:normal}
.popup .auto-up .row-up select{background:#fff;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #c5c5c5;box-shadow:inset 1px 1px 1px #eee;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee}
.popup .auto-up .row-up select, .popup .auto-up .row-up input[type="checkbox"]{margin:0 5px;padding:2px 2px 2px 6px;color:#333;font-size:11px;font-family:Arial;vertical-align:middle}
.popup .auto-up .row-up input[type="text"]{width:220px;padding:2px;color:#333;font-size:12px;font-family:Arial;border:1px solid #cbd7e4}
.popup .auto-up .showcase-dialog{margin:0 0 15px;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.popup .auto-up .showcase-dialog p{padding:6px 8px;font-size:11px;font-weight:bold;line-height:16px;border-bottom:1px solid #eee}
.popup .auto-up .showcase-dialog .label-name{color:#d54e21;font-size:12px;font-weight:bold}
.popup .auto-up .notice-up{margin:0 0 5px 5px;color:#555;font-size:12px}
.popup .auto-up .ctn-notice-up{color:#777;font-size:12px}

